<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin Page</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="header">
        <a href="../index.php"><img src="../uploads/image/logo.png" alt="Logo" width="100px"  ></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="search-content.php"><button class="btn search">Search Ecommerce</button></a>
    </div><br><br>
    <table align="center" cellpadding="25" cellspacing="0" bordercolor="#f55405" border="1">
        <form action="../controller/signin-controller.php" method="post">
            <td>
                <font color="#f55405" face="times new roman" size="6">Sign In</font><br><br>
                <font color="black" face="times new roman" size="4">Email</font>
                <br>
                <input type="email" name="email" size="43px">
                <br><br>
                <font color="black" face="times new roman" size="4">Password</font>
                <br>
                <input type="password" name="password" size="43px">
                <br><br>
                <input type="checkbox" name="Remember" value="a"> <font color="black" face="times new roman" size="4">Keep me signed in.</font><br><br>
                <button size="250px" name="submit">Sign In</button>
                <br><br>
                </form>
                <hr color="#f55405" width="auto">
                <p align="center"><font color="black" face="times new roman" size="2">New to Ecommerce?</font></p>
                <a href="registration.html"><button>Create your Ecommerce account</button></a>
            </td>
        </form>
    </table>
    <br><br><br>
    <div class="footer">
        <center>
            <a href="about-us.php"><font color="black" face="times new roman" size="4">About Us</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="helpline.php"><font color="black" face="times new roman" size="4">Helpline</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="faq.php"><font color="black" face="times new roman" size="4">FAQ</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="terms-and-services.php"><font color="black" face="times new roman" size="4">Terms and Services</font></a><br><br><br>
            <font color="black" face="times new roman" size="3">Ecommerce</font><br><br>
            <font color="black" face="times new roman" size="2">A Maa Babar Dowa Company</font><br>
            <font color="black" face="times new roman" size="1">© 2024 by Ecommerce.com,  Inc.</font><br><br>
        </center>
    </div>
</body>
</html>